<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

<body>

    <%- include('layouts/navbar')-%>

      <main>

        <div class="container">

        <% for (var i = 0; i < streamingApp.length; i++) {%>

            <div class="thumb-container">
              <a href="/<%= streamingApp[i].slug %>">
                <%= streamingApp[i].title %>
              </a>
            </div>

        <% } %>

        </div>

      </main>

      <%- include('layouts/scripts'); -%>

</body>

</html>
