<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

<body>

  <%- include('layouts/navbar')-%>

      <main>

        <div class="container-playervideo">

          <div class="container video">

            <video controls autoplay>
              <source src="<%= yoUtube.video %>" type="video/mp4">
            </video>

            <h1><%= yoUtube.title %></h1>
            <p>Posted on <%= yoUtube.datePosted.toDateString() %> by <%= yoUtube.userid.fullname %></p>

          </div>

          <div class="container-overview">

            <% for (var i = 0; i < youtube.length; i++) {%>

              <p>

                <a href="/<%= youtube[i].slug %>"><%= youtube[i].title %></a>

              </p>

          <% } %>

          </div>

        </div>

      </main>

      <%- include('layouts/scripts'); -%>

</body>

</html>
