<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

<body>

  <%- include('layouts/navbar')-%>

      <main>

        <div class="container video">

          <video controls autoplay>
            <source src="<%= yoUtube.video %>" type="video/mp4">
          </video>

          <h1><%= yoUtube.title %></h1>
          <p><%= yoUtube.datePosted %></p>
          <p>Posted by <%= yoUtube.userid.fullname %></p>

          <% for (var i = 0; i < youtube.length; i++) {%>

            <a href="/<%= youtube[i].slug %>"><%= youtube[i].title %></a>

          <% } %>


        </div>

      </main>

      <%- include('layouts/scripts'); -%>

</body>

</html>
