<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

<body>

  <%- include('layouts/navbar')-%>

      <main>

          <div class="container video">

            <video controls autoplay>
              <source src="<%= yoUtube.video %>" type="video/mp4">
            </video>

            <h1><%= yoUtube.title %></h1>
            <p>Posted on <%= yoUtube.datePosted.toDateString() %> by <%= yoUtube.userid.fullname %></p>

            <div class="comments">

              <form action="/post/comment" method="POST">
                <input type="text" name="comment" class="form-control mt-2" placeholder="Leave a Comment">
                <button type="submit" class="btn btn-primary mt-2">Send</button>
              </form>

            </div>

          </div>

          <div class="container-overview">

            <% for (var i = 0; i < youtube.length; i++) {%>

              <p>

                <a href="/<%= youtube[i].slug %>"><%= youtube[i].title %></a>

              </p>

          <% } %>

          </div>

      </main>

      <%- include('layouts/scripts'); -%>

</body>

</html>
