<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

<body>

  <%- include('layouts/navbar')-%>

      <main>

          <div class="container video">

            <video controls autoplay>
              <source src="<%= streamingapp.video %>" type="video/mp4">
            </video>

            <h1><%= streamingapp.title %></h1>
            <p>Posted on <%= streamingapp.datePosted.toDateString() %> by <%= streamingapp.userid.fullname %></p>

          </div>

          <div class="container-overview" style="overflow-y: scroll; height:400px;">

            <% for (var i = 0; i < streamingApp.length; i++) {%>

              <p>

                <a href="/<%= streamingApp[i].slug %>"><%= streamingApp[i].title %></a>

              </p>

          <% } %>

          </div>

      </main>

      <%- include('layouts/scripts'); -%>

</body>

</html>
